body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-section{
    /* display: flex; */
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.set-width{
    width: 50%;
    padding-left: 3%;
}
.set-width img{
    width: 80%;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.keya-pagli{
    text-decoration: none;
    background-image: linear-gradient(yellow, red);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    transition: .5s;
}
.keya-pagli:hover{
    background-image: linear-gradient(red, yellow);
    
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.full{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 5px solid black;
    background-image: url("free.png");
    background-size: cover;
    background-position: right;
}
.Experience-section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
.full-stack{
    font-size: 40px;
}
.cng-color{
    color: orange;
}
#full-stack-development{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}